{{>layout/header}}

<h1>게시글 조회</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="id">글 번호</label>
                <input type="text" class="form-control" id="id" value="{{posts.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{posts.title}}" readonly>
            </div>
            <div class="form-group">
                <label for="author">작성자</label>
                <input type="text" class="form-control" id="author" value="{{posts.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" readonly>{{posts.content}}</textarea>
            </div>
            <div class="form-group">
                <label for="content">조회수</label>
                <input type="text" class="form-control" id="viewCount" value="{{posts.viewCount}}" readonly>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">메인으로가기</a>
        <a href="/posts/update/{{id}}" role="button" class="btn btn-primary" id="btn-wantUpdate">수정하기</a>
        <button type="button" class="btn btn-primary" id="btn-scrap">스크랩</button>
        <button type="button" class="btn btn-primary" id="btn-cancelScrap">스크랩취소</button>
    </div>
</div>

{{>layout/footer}}